.navbar{
    background-color: rgba(0, 0, 0, 0.233);
    padding: 10px;  
    text-align: center;  
    align-items: center;
    justify-content: center;
}
.navbar-iten{
    padding-left: 2%;    
    vertical-align: middle;
    color: rgb(187, 187, 187); 
    text-transform: uppercase;   
    text-align: center;
}
.navbar-iten:hover{
    color: white;      
}
.navbar-iten-brand{
    padding-left: 2%;    
    vertical-align: middle;  
    width: 50px;    
    height: 50px;    
}
.social-media{
    text-align: center;
    text-transform: uppercase;
}
.social-media-icon{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    display: inline;
    border-radius: 100%;
    margin: 20px;
}
.position-50x50{
    text-align: justify;
    width: 48%;  
    display: inline-block;  
    padding: 10px;    
}
.games-lobby{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;    
    text-align: center;
    background-color: #800000;
    width: 100%;
}
.game-img{
    width: 300px;
    height: 150px;
    background-color: black;
    display: inline-block;
    margin: 10px;    
}
.game-img:hover{
    
}
.description{
    text-align: center;
}
.brandpos{
    float: left;
    margin-left: 30px;
}
.itenspos{

}
.clear{
    clear: both;
}