@media (max-width: 768px){            
    .navbar-iten{        
        font-size: 11px;
        padding-left: 1%; 
        padding-right: 1%;
    }
    .brand-Xsize{
        display: none;
    }
    .brand-Ssize{
        display: inline-block;
    }
}
@media (max-width: 380px){            
    .navbar-iten{        
        font-size: 9px;
        padding-left: 1%; 
        padding-right: 1%;
    }
    .brand-Xsize{
        display: none;
    }
    .brand-Ssize{
        display: inline-block;
    }
}
@media (min-width: 768px){         
    .brand-Xsize{
        display: inline-block;
    }
    .brand-Ssize{
        display: none;
    }
}

.navbar{
    background-color: rgba(0, 0, 0, 0.233);
    padding: 10px; 
    text-align: center;        
    box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.30);
}
.navbar div{
    margin-left: 60px;
}
.navbar-iten{        
    color: rgb(187, 187, 187); 
    text-transform: uppercase; 
    text-align: center; 
    vertical-align: middle;
    display: inline-block; 
    padding-left: 1%; 
    padding-right: 1%;     
}

.navbar-iten:hover{
    color: white;       
}

.navbar-iten-brand{
    padding-left: 1%; 
    padding-right: 1%;   
    vertical-align: middle;  
    width: 50px;    
    height: 50px;
    position: static; 
}