@media (max-width: 768px){         
    .gameTitle{
        font-size: 24px;        
    }
    .clearButton{
        width: 170px; 
        height: 45px;  
        font-size: 18px;
    }
    .game-logo{
        width: 150px;
        height: 150px; 
        object-fit: cover;       
    }
    .games{
        margin: 5px;
    }
}
@media (min-width: 768px){         
    .gameTitle{
        font-size: 36px;        
    }    
    .clearButton{
        width: 250px; 
        height: 60px; 
        font-size: 32px; 
    }
    .clearButton:hover{
        animation:slidein 2s;  
        -moz-animation:slidein 1s; /* Firefox */
        -webkit-animation:slidein 1s; /* Safari e Chrome */
        -o-animation:slidein 1s; /* Opera */
        width: 300px;  
        background: 100%;
        border-color: #700000;        
    }
    .clearButton:not(:hover){
        -moz-animation:slideout 0.5s; /* Firefox */
        -webkit-animation:slideout 0.5s; /* Safari e Chrome */
        -o-animation:slideout 0.5s; /* Opera */  
    }
    .game-logo{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .games{
        margin: 20px;
    }
}
.gameHeader{
    margin: 10px;
    padding: 10px; 
    margin-left: 8%;  
}
.games{
    margin-top: 0px;
    display: inline-block;
    vertical-align: top;    
    text-align: center;
}
.gameTitle{
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-flex;
    vertical-align: top;     
}
.developer{
    margin-top: 0px;
    display: inline-flex;
    vertical-align: center;
}

.game-img{
    width: 220px;
    height: 300px;
    object-fit: cover;
    display: inline-block;
    margin: 10px;    
}

.game-img:hover{
    -moz-animation:upperIMG 1s; /* Firefox */
    -webkit-animation:upperIMG 1s; /* Safari e Chrome */
    -o-animation:upperIMG 1s; /* Opera */
    transform: scale(1.1);    
}

.game-img:not(:hover){
    -moz-animation:downIMG 0.5s; /* Firefox */
    -webkit-animation:downIMG 0.5s; /* Safari e Chrome */
    -o-animation:downIMG 0.5s; /* Opera */    
}

.description{
    text-align: justify;  
    width: 80%;         
}

.clearButton{
    background: 0%;
    color: white;     
    border-radius: 50px;    
    border-style: solid;
    border-width: 3px;       
    text-transform: uppercase;  
    cursor: pointer;  
    margin-top: 20px;      
}
.clearButton:hover{      
    color: white;
    background: #800000;      
    border-radius: 50px;    
    border-width: 3px;        
    text-transform: uppercase;        
}

.game-images{
    text-align: center;
    background: #800000;          
    margin: 0;
    margin-right: 0px;
    width: 100%;
}

@keyframes slidein {
    from {
      width: 250px; 
      background: 0%; 
      border-color: white;    
    }
        
    to {
       width:300px;
       border-color: #700000;        
    }
}

@-webkit-keyframes slidein /* Safari e Chrome */{
    from {
        width: 250px; 
        background: 0%; 
        border-color: white;       
    }
      
    to {
        width:300px;
        border-color: #700000; 
    }
}

@-moz-keyframes slidein /* Firefox */{
    from {
        width: 250px; 
        background: 0%; 
        border-color: white;       
    }
          
    to {
        width:300px;
        border-color: #700000;  
    }
}

@keyframes slideout {
    from {
      width: 300px; 
      background: #800000;  
      border-color: #700000;       
    }
        
    to {
       width:250px;
       background: 0%;
       border-color: white; 
    }
}

@-webkit-keyframes slideout /* Safari e Chrome */{
    from {
        width: 300px; 
        background: #800000;  
        border-color: #700000;     
    }
      
    to {
        width:250px;
        background: 0%;
        border-color: white; 
    }
}

@-moz-keyframes slideout /* Firefox */{
    from {
        width: 300px; 
        background: #800000;  
        border-color: #700000;     
    }
      
    to {
        width:250px;
        background: 0%;
        border-color: white; 
    }
}

@keyframes upperIMG {
    from {
        transform: scale(1);      
    }
        
    to {
        transform: scale(1.1);
    }
}

@-webkit-keyframes upperIMG /* Safari e Chrome */{
    from {
        transform: scale(1);      
    }
        
    to {
        transform: scale(1.1);
    }
}

@-moz-keyframes upperIMG /* Firefox */{
    from {
        transform: scale(1);      
    }
        
    to {
        transform: scale(1.1);
    }
}

@-webkit-keyframes downIMG /* Safari e Chrome */{
    from {
        transform: scale(1.1);   
    }
      
    to {
        transform: scale(1);
    }
}

@-webkit-keyframes downIMG /* Safari e Chrome */{
    from {
        transform: scale(1.1);   
    }
      
    to {
        transform: scale(1);
    }
}

@-moz-keyframes downIMG /* Firefox */{
    from {
        transform: scale(1.1);   
    }
      
    to {
        transform: scale(1);
    }
}