@media (max-width: 769px){    
    .dev-line{
        width: 250px;
    } 
}
@media (min-width: 769px){    
    .dev-line{
        width: 900px;
    }
}
.developer-Ranking{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.dev-img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: #800000;
}

.dev-line:hover{
    background-color: rgba(0, 0, 0, 0.582); 
}
.dev-line{
    padding: 20px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.164); 
    vertical-align: center;
}
.position{
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    text-transform: uppercase;
}
.dev-imgsocial{
    width: 25px;
}
.dev-apresentation{
    float: left;
    font-family: 'Titillium Web', sans-serif;
}
.div-socialdev{
    margin-top: 10px;
    text-align: right;
    float: right;
    vertical-align: middle;
    width: 40px;
}
.clear{
    clear: both;
}