@media (max-width: 768px){         
    .gameTitle{
        font-size: 24px;        
    }
    .clearButton{
        width: 170px; 
        height: 45px;  
        font-size: 18px;
    }
}
@media (min-width: 768px){         
    .gameTitle{
        font-size: 36px;        
    }    
    .clearButton{
        width: 250px; 
        height: 60px; 
        font-size: 32px; 
    }
    .clearButton:hover{
        animation:slidein 2s;  
        -moz-animation:slidein 1s; /* Firefox */
        -webkit-animation:slidein 1s; /* Safari e Chrome */
        -o-animation:slidein 1s; /* Opera */
        width: 300px;   
    }
    .clearButton:not(:hover){
        -moz-animation:slideout 0.5s; /* Firefox */
        -webkit-animation:slideout 0.5s; /* Safari e Chrome */
        -o-animation:slideout 0.5s; /* Opera */  
    }
}
.gameHeader{
    margin: 10px;
    padding: 10px;    
}
.gameLogo{
    width: 200px;
    height: 200px;    
}
.games{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    text-align: center;
}
.gameTitle{
    margin-bottom: 0px;
    display: inline-flex;
    vertical-align: top;     
}
.developer{
    margin-top: 0px;
    display: inline-flex;
    vertical-align: center;
}

.game-img{
    width: 220px;
    height: 300px;
    object-fit: cover;
    display: inline-block;
    margin: 10px;    
}

.game-img:hover{
    -moz-animation:upperIMG 1s; /* Firefox */
    -webkit-animation:upperIMG 1s; /* Safari e Chrome */
    -o-animation:upperIMG 1s; /* Opera */
    transform: scale(1.1);    
}

.game-img:not(:hover){
    -moz-animation:downIMG 0.5s; /* Firefox */
    -webkit-animation:downIMG 0.5s; /* Safari e Chrome */
    -o-animation:downIMG 0.5s; /* Opera */    
}

.description{
    text-align: justify;           
}

.clearButton{
    background: 0%;
    color: white;     
    border-radius: 50px;
    border-color: white;
    border-style: solid;
    border-width: 3px;       
    text-transform: uppercase;  
    cursor: pointer;  
    margin-top: 20px;    
}
.clearButton:hover{
    background: 20%;    
    color: white;      
    border-radius: 50px;
    border-color: white;
    border-width: 3px;        
    text-transform: uppercase;      
}

.game-images{
    text-align: center;
    background: #800000;
    padding-top:20px;   
    padding-bottom:20px;     
    margin: 0;
    margin-right: 0px;
    width: 100%;
}
.developer-Ranking{
    text-align: center;
}
.dev-img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: #800000;
}

.dev-line:hover{
    background-color: rgba(0, 0, 0, 0.582); 
}
.dev-line{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.164); 
    vertical-align: center;
    width: 100%;
}
.position{
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    text-transform: uppercase;
}

@keyframes slidein {
    from {
      width: 250px;      
    }
        
    to {
       width:300px;
    }
}

@-webkit-keyframes slidein /* Safari e Chrome */{
    from {
        width: 250px;      
    }
      
    to {
        width:300px;
    }
}

@-moz-keyframes slidein /* Firefox */{
    from {
        width: 250px;      
    }
          
    to {
         width:300px;
    }
}

@keyframes slideout {
    from {
      width: 300px;      
    }
        
    to {
       width:250px;
    }
}

@-webkit-keyframes slideout /* Safari e Chrome */{
    from {
        width: 300px;      
    }
      
    to {
       width:250px;
    }
}

@-moz-keyframes slideout /* Firefox */{
    from {
        width: 300px;      
    }
      
    to {
       width:250px;
    }
}

@keyframes upperIMG {
    from {
        transform: scale(1);      
    }
        
    to {
        transform: scale(1.1);
    }
}

@-webkit-keyframes upperIMG /* Safari e Chrome */{
    from {
        transform: scale(1);      
    }
        
    to {
        transform: scale(1.1);
    }
}

@-moz-keyframes upperIMG /* Firefox */{
    from {
        transform: scale(1);      
    }
        
    to {
        transform: scale(1.1);
    }
}

@-webkit-keyframes downIMG /* Safari e Chrome */{
    from {
        transform: scale(1.1);   
    }
      
    to {
        transform: scale(1);
    }
}

@-webkit-keyframes downIMG /* Safari e Chrome */{
    from {
        transform: scale(1.1);   
    }
      
    to {
        transform: scale(1);
    }
}

@-moz-keyframes downIMG /* Firefox */{
    from {
        transform: scale(1.1);   
    }
      
    to {
        transform: scale(1);
    }
}